
body {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: black;
    background-color: lightgray;
    
}

.jumbotron {
    background-image: url("../images/background.jpeg");
}